.search-container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box; 
    color: #000000;
    font-weight: 900;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

.search-container p{
    padding: 0;
    margin: 0;
}

.search-input{
    color: #000000;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding:  0.5rem 1.3rem;        

    border: none;
    outline: none; 
    font-size: 1rem;   
    flex-grow: 0.5;    
}